$white: #ffffff;
$black: #000000;


$bg-clr: #ffffff;
$txt-main: #000000;


$error: red;
$accent: #b768ef;
$accent-bright: #c2a0f6;
$bg-secondary: rgba(125, 125, 125, 0.1);

$dark-grey: #202023;

$light-black:#1a202c;
$offwhite: rgb(247 239 228 / 78%);

$offwhite-secondary: rgb(255 253 250 / 78%);

$big-opacity-mask: rgba(255, 255, 255, 0.95);
$med-opacity-mask: rgba(255, 255, 255, 0.45);
$small-opacity-mask: rgba(255, 255, 255, 0.05);
$text-opacity-mask: rgba(255, 255, 255, 0.73);

.darktheme {
  --border: #{$med-opacity-mask};
  --h1-bg: #{$small-opacity-mask};
  --h1-clr: #{$big-opacity-mask};
  --para-text-clr: #{$big-opacity-mask};
  --body-bg:  #{$dark-grey};

  //footer
  --footer-bg: #{$small-opacity-mask};

  --footer-link-bg: transparent;
  --footer-link-clr:#{$med-opacity-mask};

  --footer-link-hover-bg:transparent;
  --footer-link-hover-clr:#{$big-opacity-mask};
  //nav
  --logo-clr:#{$med-opacity-mask};

  --nav-link-clr:#{$med-opacity-mask};

  --nav-link-hover-clr:#{$black};
  --nav-link-hover-bg:#{$white};

  --nav-link-active-clr:#{$white};
  --nav-link-active-bg: #{$small-opacity-mask};

  --nav-link-active-hover-clr:#{$black};
  --nav-link-active-hover-bg:#{$white};

  --nav-link-accent-bg:#{$accent};
  //single
  --single-title-bg:#{$small-opacity-mask};
  --single-title-clr:#{$big-opacity-mask};
  --single-para-clr:#{$text-opacity-mask};
  --single-author-clr:#{$text-opacity-mask};
  --single-date-clr:#{$big-opacity-mask};

  --single-link-clr:#{$accent};
  --single-link-hover-clr:#{$accent-bright};

  --single-tags-clr:#{$med-opacity-mask};
  --single-tags-hover-clr:#{$big-opacity-mask};

  --single-tags-span-clr:#{$big-opacity-mask};
  //list
  --tag-clr:#{$text-opacity-mask};
  --tag-bg:#{$bg-secondary};
  --tag-count-clr:#{$med-opacity-mask};
  --list-collapsible-border:#{$med-opacity-mask};
  --list-collapsible-clr:#{$text-opacity-mask};
  --list-collapsible-bg:#{$small-opacity-mask};


  //404
  --error-bg:#{$white};
  --error-clr:#{$light-black};

  //preview
  --blog-preview-bg:#{$small-opacity-mask};
  --blog-preview-clr:#{$big-opacity-mask};
  --blog-preview-date-clr:#{$big-opacity-mask};

  --blog-preview-author-clr:#{$med-opacity-mask};
  --blog-preview-title-clrL:#{$light-black};

  //contact
  --contact-message-clr:#{$big-opacity-mask};
  --contact-message-bg:#{$small-opacity-mask};
  --contact-message-submit-button-bg: #{$med-opacity-mask};
  --contact-message-submit-button-clr: #{$med-opacity-mask};

  --contact-input-clr: #{$big-opacity-mask};
  --contact-input-bg: #{$small-opacity-mask};
}


.lighttheme {
  --border: #{$light-black};
  --h1-bg: #{$white};
  --h1-clr: #{$black};
  --para-text-clr: #{$light-black};
  //footer
  --footer-bg: inherit;

  --footer-link-bg:#{$white};
  --footer-link-clr:#{$light-black};

  --footer-link-hover-bg:#{$offwhite};
  --footer-link-hover-clr:#{$light-black};
  //nav
  --logo-clr:#{$black};

  --nav-link-clr:#{$black};
  --nav-link-hover-clr:#{$white};

  --nav-link-hover-bg:#{$black};

  --nav-link-active-clr:#{$white};
  --nav-link-active-bg:#{$black};

  --nav-link-active-hover-clr:#{$black};
  --nav-link-active-hover-bg:#{$white};

  //single
  --single-title-bg:#{$white};
  --single-title-clr:#{$light-black};
  --single-para-clr:#{$light-black};
  //list
  --tag-clr:#{$light-black};
  --tag-bg:#{$bg-secondary};
  --list-collapsible-border:#{$black};
  --list-collapsible-clr:#{$light-black};
  --list-collapsible-bg:#{$white};


  //404
  --error-bg:#{$white};
  --error-clr:#{$light-black};

  //preview
  --blog-preview-bg:#{$white};
  --blog-preview-clr:#{$light-black};
  --blog-preview-date-clr:#{$light-black};

  --blog-preview-author-clr:#{$light-black};
  --blog-preview-title-clrL:#{$light-black};
  //contact
  --contact-message-clr:#{$light-black};
  --contact-message-bg:#{$offwhite};

  --contact-message-submit-button-bg: transparent;
  --contact-message-submit-button-clr: #{$light-black};

  --contact-input-clr: #{$light-black};
  --contact-input-bg: #{$offwhite};
}

