{{define "main"}}



<h1 tabindex=0 class="taglist_collapsible">Filter By Tag (Click to open)</h1>

<div class="taglist">




{{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
    {{ with $.Site.GetPage (printf "/tags/%s" $name) }}

    <div class="taglist_tag">
        <div class="taglist_button taglist_color{{$name}}">
            <a href={{ .RelPermalink }} title="All pages with tag <i>{{$name}}</i>">{{$name}}</a>
            <div class="taglist_count">({{$cnt}}) </div>
        </div>
    </div>

    {{end}}
{{end}}
</div>

<!--script for collapsible tags-->
{{ partial "collapsible.html" . }}


<!--{{.RelPermalink}}-->
    {{if hasPrefix .RelPermalink "/tags/" }}

    <h1>Posts Tagged with <span>
        (&nbsp;{{$tmp := strings.Replace .RelPermalink "/tags/" ""}}{{strings.Replace $tmp "/" ""}}&nbsp;)
    </span></h1>

    {{else}}
    <h1>All Posts</h1>

    {{end}}

<div id="recent_posts-container">

    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
    {{- partial "blogpreview.html" . -}}
    {{ end }}
</div>
{{end}}




