{{define "main"}}



<h1 tabindex=0 class="taglist_collapsible">Filter By Tag (Click to open)</h1>

<div class="taglist">




{{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
    {{ with $.Site.GetPage (printf "/tags/%s" $name) }}

    <div class="taglist_tag">
        <div class="taglist_button taglist_color{{$name}}">
            <a href={{ .RelPermalink }} title="All pages with tag <i>{{$name}}</i>">{{$name}}</a>
            <div class="taglist_count">({{$cnt}}) </div>
        </div>
    </div>

    {{end}}
{{end}}
</div>

<!--script for collapsible tags-->
{{ partial "collapsible.html" . }}


<!--{{.RelPermalink}}-->
    {{if hasPrefix .RelPermalink "/tags/" }}

    <h2>Posts Tagged with <span>
        (&nbsp;{{$tmp := strings.Replace .RelPermalink "/tags/" ""}}{{strings.Replace $tmp "/" ""}}&nbsp;)
    </span></h2>

    {{else}}
    <h1>All Posts</h1>

    {{end}}

<div id="recent_posts-container">

    <!-- Ranges through content/posts/*.md -->
    {{ range .Paginator.Pages }}
    {{- partial "blogpreview.html" . -}}
    {{ end }}


</div>
<!-- Code starts here -->
<!-- Shamelessly stolen from this dude https://www.youtube.com/watch?v=BSeYDNhTRB0-->
{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<nav aria-label="Page navigation">
    <ul class="pagination">
<!--        {{ if $pag.HasPrev }}-->
<!--        <li class="page-item"><a href="{{ $pag.Prev.URL }}" rel="prev" class="page-link">&laquo; Prev</a></li>-->
<!--        {{ end }}-->
        {{ range $pag.Pagers }}
        {{ if eq . $pag }}
        <li class="page-item active"><a href="{{ .URL }}" class="page-link">{{ .PageNumber }}</a></li>
        {{ else }}
        <li class="page-item"><a href="{{ .URL }}" class="page-link">{{ .PageNumber }}</a></li>
        {{ end }}
        {{ end }}

        {{ if $pag.HasNext }}
        <li class="page-item"><a href="{{ $pag.Next.URL }}" rel="next" class="page-link">Next &raquo;</a></li>
        {{ end }}
    </ul>
</nav>
{{ end }}
<!-- Code ends here -->
{{end}}




