{{define "main"}}



<h1 class="taglist_collapsible">Filter By Tag (Click to open)</h1>

<div class="taglist">




{{range $name, $taxonomy := .Site.Taxonomies.tags}} {{ $cnt := .Count }}
    {{ with $.Site.GetPage (printf "/tags/%s" $name) }}

    <div class="taglist_tag">
        <div class="taglist_button">
            <a href={{ .RelPermalink }} title="All pages with tag <i>{{$name}}</i>">{{$name}}</a>
            <div class="taglist_count">({{$cnt}}) </div>
        </div>
    </div>

    {{end}}
{{end}}
</div>

<script>


    var coll = document.getElementsByClassName("taglist_collapsible");
    var i;
    {{if hasPrefix .RelPermalink "/tags/" }}
        var x = coll[0].nextElementSibling.childElementCount;
        var h = Math.round(x/3*75) +"px";
        coll[0].nextElementSibling.style.maxHeight = h;
        coll[0].innerHTML = "Filter By Tag (Click to close)";
        coll[0].nextElementSibling.style.overflow= "shown";
        coll[0].classList.toggle("active");
    {{end}}

    coll[0].addEventListener("click", function() {
        this.classList.toggle("active");
        console.log("test")

        var content = this.nextElementSibling;


        //finding tag amount so i can set the correct maxheight
        var x = content.childElementCount;
        var h = Math.round(x/3*75) +"px";

        if (content.style.maxHeight  === h) {
            this.innerHTML = "Filter By Tag (Click to open)";
            content.style.maxHeight = 0;
            content.style.overflow= "hidden";

        } else {
            content.style.maxHeight = h;
            this.innerHTML = "Filter By Tag (Click to close)";
            content.style.overflow= "shown";
        }
        });
</script>

<!--{{.RelPermalink}}-->
    {{if hasPrefix .RelPermalink "/tags/" }}

    <h1>Posts Tagged with <span>
        (&nbsp;{{$tmp := strings.Replace .RelPermalink "/tags/" ""}}{{strings.Replace $tmp "/" ""}}&nbsp;)
    </span></h1>

    {{else}}
    <h1>All Posts</h1>

    {{end}}

<div id="recent_posts-container">

    <!-- Ranges through content/posts/*.md -->
    {{ range .Pages }}
    <a href="{{ .Permalink }}" class="blogpreview">

        <span class="blogpreview_date">{{ .Date | time.Format "Jan 2, 2006" }}</span>

        <img class ="blogpreview_cover" srcset="{{.Params.Cover}} 250w" alt="">

        <div class="blogpreview_outline-container">
            <span class="blogpreview_title">{{ .Title }}</span>

            <span class="blogpreview_author">by {{.Params.Author}}</span>
        </div>
    </a>
    {{ end }}
</div>
{{end}}




