
<h1 id="contacttitle">Contact</h1>
<form id="contact" name="contact" method="POST" data-netlify="true">
    <p id="contact_name">
        <label>Your Name: <input type="text" name="name" /></label>
    </p>
    <p id="contact_email">
        <label>Your Email: <input type="email" name="email" /></label>
    </p>
    <p id="contact_message">
        <label>Message: <textarea name="message"></textarea></label>
    </p>
    <p id="contact_submit">
        <button class = "default-button">Send</button>
    </p>
</form>
