@use 'type';
@use 'colors';

footer {
  width: 100%;
  padding: 10px 0 10px 0;
  background-color: var(--footer-bg);

  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
  ul {
    @include type.footer_link-type;
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 550px;
    margin: auto;
    gap: 5px;

    li {
      a {
        //padding to make the border bigger when color change
        padding: 10px;

        text-decoration: none;

        &:visited,
        &:link {
          color: var(--footer-link-clr);
          background-color: var(--footer-link-bg);
        }

        &:focus,
        &:hover {
          background-color: var(--footer-link-hover-bg);
          color: var(--footer-link-hover-clr)

        }
      }
    }
  }
}
