@use 'type';
@use 'colors';
@use 'break';


.taglist {
  display: flex;

  max-width: break.$maxstretch;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;

  margin: 0 15px 0 15px;
  padding: 20px;
  transition: 300ms;

  &_collapsible {
    cursor:pointer;
    box-shadow: none;
    border: 1px solid var(--list-collapsible-border);
    color: var(--list-collapsible-clr);
    background: var(--list-collapsible-bg);
    user-select: none;
    margin-bottom: 25px;
  }
  &_collapsible.active{
  }
  &_tag {
    height: min-content;
    background-color: var(--tag-bg);
    padding: 20px;
    display: flex;

  }
  &_button {
    display: flex;
    column-gap: 10px;
    @include type.tags-type;
    height: min-content;
    a {
      text-decoration: none;
    }
    a:link, a:visited {
      color: var(--tag-clr);

    }
  }
  &_count {
    @include type.date-type;
    height: min-content;
    color: var(--tag-count-clr);
  }
}


#recent_posts-container {
  margin: 50px 0 50px 0;
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  .blogpreview {

    max-width: 250px;
    text-decoration: none;
    display: grid;

    grid-template-rows: auto 1fr auto ;
    grid-template-columns: 1fr;

    box-shadow:  -1px 6px 12px 3px rgb(10 10 10 / 40%);
    background-color: var(--blog-preview-bg);
    color: var(--blog-preview-clr);
    padding: 15px;
    transition: 100ms;
    &:hover, &:focus {
      box-shadow:  0 5px 20px 12px rgb(10 10 10 / 40%);
      transform: translateY(-5px);
      transition: 100ms;
      .blogpreview_cover {
        box-shadow: 1px 20px 12px 0 rgb(10 10 10 / 40%);
        transform: translateY(-10px);
        transition: 250ms;
      }
    }
    &_date {

      @include type.preview_date-type;

      color: var(--blog-preview-date-clr);
      height: 50px;
      padding: 5px 0 10px 0;
      width: 100%;
      text-align: center;
      border-radius: 10px 10px 0 0;
    }
    &_cover {
      transition: 50ms;

      width: 100%;
      margin-left: -15%;
      box-shadow:  6px 6px 12px 0 rgb(10 10 10 / 40%);

      aspect-ratio: 2 / 1;
    }


    &_outline-container {
      //border: 1px solid colors.$black;
      border-top: none;
      padding-bottom: 5px;
    }
    &_title {
      @include type.preview_title-type;
      display: block;
      color: var(--blog-preview-title-clr);
      margin: 25px 10px 15px 15px;
      text-transform: capitalize;

    }

    &_author {
      @include type.preview_author-type;
      margin-left: 15px;
      color: var(--blog-preview-author-clr);

    }
  }
}


