@use 'type';
@use 'colors';
@use 'break';


.taglist {
  display: flex;

  max-width: break.$maxstretch;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;

  margin: 0 15px 0 15px;
  max-height: 0;
  overflow: hidden;

  transition: 300ms;
  &_collapsible {
    cursor:pointer;
    box-shadow: none;
    border: 1px solid var(--list-collapsible-border);
    color: var(--list-collapsible-clr);
    background: var(--list-collapsible-bg);
    user-select: none;
  }
  &_collapsible.active{

    margin-bottom: 25px;
  }
  &_tag {

    background-color: var(--tag-bg);
    padding: 20px;
    display: flex;
  }
  &_button {
    display: flex;
    column-gap: 10px;
    @include type.tags-type;
    a {
      text-decoration: none;
    }
    a:link, a:visited {
      color: var(--tag-clr);

    }
  }
  &_count {
    @include type.date-type;
    color: var(--tag-count-clr);
  }
}
