@use 'type';
@use 'colors';
@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
.darktheme nav a#logo img{
  filter: invert(1);
  transition: 250ms;
}
nav {
  z-index: 1000;

  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  padding: 20px 0 15px 0;
  grid-column-gap: 60px;
  user-select: none;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(15px) brightness(0.7);
  position: fixed;
  top: 0;
  left: 0;
  row-gap: 10px;
  padding-bottom: 15px;
  a#logo {
    margin-left: 50px;
    height: 60px;
    width: 124.3px;
    text-decoration: none;

      img {
        height: 100%;
        fill: white;
      }
  }
  ul {
    list-style-type: none;
    display: flex;
    max-width: 600px;
    align-items: center;
    justify-content: space-around;
    transition: height 50ms;

    height: 60px; padding-bottom: 20px; overflow: visible;
    li {
      @include type.nav_link-type;
      a {
        //padding to make the border bigger when color change
        padding: 15px;

        text-decoration: none;
        transition: 100ms;
        &:visited,
        &:link {
          color: var(--nav-link-clr);
        }

        &:focus,
        &:hover {
          transition: 250ms;
          color: var(--nav-link-hover-clr);
          background-color: var(--nav-link-hover-bg);

          box-shadow:  5px 5px 12px 6px rgb(10 10 10 / 70%);
        }
      }
    }
  }
}

nav #themeSwitch{
  position: absolute;
  top:20px;
  right:15px;
  img {
    filter: none;
    height: 50px;
    transition: transform 250ms;
  }
}
nav #themeSwitch.darktheme img {
  filter: invert(1);
  transform: rotate(180deg);
}
nav ul li.active { //active link
  position: relative;


  a {
    padding: 15px;
    color: var(--nav-link-active-clr);
    background-color: var(--nav-link-active-bg);
    box-shadow:  5px 5px 15px 4px rgb(10 10 10 / 40%);
    &:visited,
    &:link {
      color: var(--nav-link-active-clr);
    }
    &:focus,
    &:hover {

      color: var(--nav-link-active-hover-clr);
      background-color: var(--nav-link-active-hover-bg);
    }


    &::after {
      width: 100%;
      height: 2px;
      position: absolute;
      content: '';
      background-color: var(--nav-link-accent-bg);

      bottom: -15px;
      left: 0;

    }
  }
}
.css-selector {

}

