@use 'type';
@use 'colors';
nav {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  padding-bottom: 20px;
  #logo {
    @extend %logo-type;
    text-shadow:  -7px 18px rgb(0 0 0 / 35%);
    margin-left: 50px;


  }
  ul {
    list-style-type: none;
    display: flex;
    max-width: 600px;
    align-items: center;
    justify-content: space-around;
    li {
      @extend %nav_link-type;
    }
  }
}