
@use 'colors';
@use 'type';
@use "nav";
@use 'single';
@use 'break';
@use 'list';
@use 'footer';

@use 'tagcolors';

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
//resets

* {
  margin: 0;
  padding: 0;
}


//
h1 {
  @include type.heading_1-type;
  text-transform: capitalize;

  width: calc(100% - 60px);
  color: var(--h1-clr);
  background-color: var(--h1-bg);

  padding: 10px;
  margin: 35px auto 50px auto;
  box-shadow:  1px 5px 17px 0 rgb(10 10 10 / 40%);

  background: linear-gradient(270deg, #a487ab, #875d93, #804c80);
  background-size: 100% 100%;
}
h2 {
  @include type.heading_1-type;
  text-transform: capitalize;

  //width: calc(100% - 60px);
  width: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--h2-clr);
  background-color: var(--h2-bg);
  padding: 10px 20px 10px 20px;
  margin: 35px auto 50px auto;
  box-shadow:  1px 5px 17px 0 rgb(10 10 10 / 40%);
}
#content {
  display: block;
  max-width: 1000px;
  margin: auto;

}
body {
  background-color: var(--body-bg);
  transition: 500ms;

}
//scrollbar
  /* width */
  ::-webkit-scrollbar {
    width: 15px;

  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--scrollbar-border-bg);
    margin: 5px 0 5px 0;


  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg);
    transition: 250ms;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-hover-bg);

  }



//
#content_header-Container {
  min-height: calc(100vh - 210px);
  margin-top: 150px;
}

p {
  @include type.para_text-type;
  margin: 0 20px;
  color: var(--para-text-clr);

}
.underline {
  position: relative;
  &::after {
    width: 100%;
    height: 1px;
    position: absolute;
    content: '';
    background-color: var(--nav-link-accent-bg);

    bottom: 0;
    left: 0;
    box-shadow: 0 0 20px 7px rgb(124 83 132 / 40%)
  }
}

.error {
  @include type.error-type;
  width: 100%;
  background-color: var(--error-bg);
  padding: 20px;
  .errorExplanation {
    color: var(--error-clr);
  }
}


.default-button {
  @include type.button-type;
  padding: 15px;
  box-shadow:  0px 2px 15px 7px rgb(10 10 10 / 40%);
  background-color: colors.$small-opacity-mask;
  color: white;
  border: none;
  transition: 250ms;
  cursor: pointer;
  overflow: visible;
  margin-top: 25px;
  &:hover, &:focus {
    background-color: colors.$text-opacity-mask !important;
    color: colors.$light-black !important;
    outline: none;
    box-shadow: 1px 14px 15px 7px rgb(10 10 10 / 40%);
    transform: translateY(-5px);
  }
}
.back-button {padding: 20px;}
.back-button .default-button{

  display: block;
  margin: 25px auto 10px auto;
}


#post_archive-button {
  margin: 25px 50px;
  display: flex;
  justify-content: right;

  position: relative;

  a {
    overflow: hidden;
    background: transparent;
    color: var(--post_archive_button-clr);
    transition: 500ms;
    cursor: pointer;
    position: relative;
    text-decoration: none;

    overflow: visible;
    box-shadow:  -1px 11px 20px 20px rgb(10 10 10 / 40%);
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      border: 5px solid colors.$accent;
      left: 0;
      top: 0;
      transform: translate(-5px, -5px );
    }
    &:hover{
      outline-offset: 60px;
      color: colors.$accent;
      background: none;

      &:before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        padding: 30px;
      }
      &:after {

        border: none;
        border-top: 5px solid colors.$accent ;
        border-right:  5px solid colors.$accent;
        height: 30px;
        width: 30px;
        left: 100%;
        top: 50%;

        transform: translatey(-50%) rotate(45deg);
        transition: 250ms;
      }
    }
  }

}


h1#contacttitle {
}
form#contact {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: auto;
  label {
    @include type.date-type;

  }
  input {
    @include type.para_text-type;
    background-color: var(--contact-input-bg);
    color: var(--contact-input-clr);
    border: none;
    box-shadow:  6px 6px 12px 0 rgb(10 10 10 / 40%);
    padding: 5px 5px 5px 15px;


  }
  #contact_name {
    max-width: 250px;
    margin-right: 30px;
  }
  #contact_email {
    max-width: 250px;
    input {
      width: 100%;
    }
  }
  #contact_message {

    margin-top: 30px;
    width: 100%;
    textarea {
      padding: 15px;
      width: calc(100% - 30px);
      height: 300px;
      resize: vertical;
      background-color: var(--contact-message-bg);
      color: var(--contact-message-clr);
      @include type.para_text-type;
      border: none;
      box-shadow:  6px 6px 12px 0 rgb(10 10 10 / 40%);


    }
  }

  #contact_submit {
    width: 100%;
    display: flex;
    justify-content: center;
    button {
      padding: 15px 25px 15px 25px;
    }
  }
}


