
@use 'colors';
@use 'type';
@use "nav";
@use 'single';
@use 'break';
@use 'footer';
//resets

* {
  margin: 0;
  padding: 0;
}

h1 {
  @include type.heading_1-type;
  text-transform: capitalize;

  width: calc(100% - 30px);
  background-color: colors.$black;
  padding: 10px;
  margin: 35px auto 35px auto;
  text-align: center;
}




#content {
  display: block;
  max-width: 1000px;
  margin: auto;


}


#content_header-Container {
  min-height: calc(100vh - 75px);
}
p {
  @include type.para_text-type;
  margin: 0 15px;

}


.error {
  @include type.error-type;
  width: 100%;
  background-color: colors.$bg-secondary;
  .errorExplanation {
    color: colors.$txt-main;
  }
}
.default-button {
  @include type.button-type;
  padding: 15px;
}
.back-button .default-button{
  display: block;
  margin: 10px auto 10px auto;
}


#recent_posts-container {
  margin: 50px 0 0 0;
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  .blogpreview {

    text-decoration: none;
    display: grid;

    grid-template-rows: auto 1fr auto ;
    grid-template-columns: 1fr;
    padding: 5px;
    &_date {

        @include type.preview_date-type;
        background-color: colors.$black;
        color: colors.$bg-clr;
        padding: 5px 15px 10px 5px;
        margin-right: auto;

    }
    &_cover {
      width: 100%;
    }



    &_outline-container {
      border: 1px solid colors.$black;
      border-top: none;
      padding-bottom: 15px;
    }
    &_title {
      @include type.preview_title-type;
      display: block;
      color: colors.$black;
      margin: 10px 10px 15px 15px;
      text-transform: capitalize;
    }

    &_author {
      @include type.preview_author-type;
      margin-left: 15px;
    }
  }
}



#post_archive-button {
  margin-top: 25px;
  width: 100%;
  input {
    display: block;
    margin: auto;

  }

}
.taglist {
  display: flex;

  max-width: break.$maxstretch;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;

  margin: 0 15px 0 15px;

  max-height: 0;
  overflow: hidden;

  transition: 300ms;
  &_collapsible {
    background-color: colors.$black;
    color: colors.$white;
  }
  &_collapsible.active{

    margin-bottom: 25px;
  }
  &_tag {

    background-color: colors.$bg-secondary;
    padding: 20px;
    display: flex;
  }
  &_button {
    display: flex;
    column-gap: 10px;
    @include type.tags-type;
    a {
      text-decoration: none;
    }
    a:link, a:visited {
      color: colors.$black;

    }
  }
  &_count {
    @include type.date-type;
  }
}
