
@use 'colors';
@use 'type';
@use "nav";
@use 'single';
@use 'break';
@use 'list';
@use 'footer';

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
//resets

* {
  margin: 0;
  padding: 0;
}
//
h1 {
  @include type.heading_1-type;
  text-transform: capitalize;

  width: calc(100% - 60px);
  color: var(--h1-clr);
  background-color: var(--h1-bg);

  padding: 10px;
  margin: 35px auto 50px auto;
  text-align: center;

  box-shadow:  1px 5px 17px 0 rgb(10 10 10 / 40%);
}

#content {
  display: block;
  max-width: 1000px;
  margin: auto;


}
body {
  background-color: var(--body-bg);
  transition: 500ms;

}

//
#content_header-Container {
  min-height: calc(100vh - 75px);
}

p {
  @include type.para_text-type;
  margin: 0 15px;
  color: var(--para-text-clr);
}


.error {
  @include type.error-type;
  width: 100%;
  background-color: var(--error-bg);
  .errorExplanation {
    color: var(--error-clr);
  }
}


.default-button {
  @include type.button-type;
  padding: 15px;
}
.back-button .default-button{
  display: block;
  margin: 10px auto 10px auto;
}


#recent_posts-container {
  margin: 50px 0 0 0;
  gap: 30px;
  display: flex;
  justify-content: center;
  .blogpreview {

    max-width: 250px;
    text-decoration: none;
    display: grid;
  
    grid-template-rows: auto 1fr auto ;
    grid-template-columns: 1fr;

    box-shadow:  -1px 6px 12px 3px rgb(10 10 10 / 40%);
    background-color: var(--blog-preview-bg);
    color: var(--blog-preview-clr);
    padding: 15px;


    transition: 100ms;
    &:hover, &:focus {
      box-shadow:  0 5px 20px 12px rgb(10 10 10 / 40%);

      margin-top: -10px;
      margin-bottom: 10px;
      transition: 100ms;

      .blogpreview_cover {
        box-shadow: 1px 20px 12px 0 rgb(10 10 10 / 40%);
        margin-top:-20px;
        margin-bottom: 20px;
        transition: 250ms;

      }
    }
    &_date {

        @include type.preview_date-type;

        color: var(--blog-preview-date-clr);
        height: 50px;
        padding: 5px 0 10px 0;
        width: 100%;
        text-align: center;
        border-radius: 10px 10px 0 0;
    }
    &_cover {
      transition: 50ms;

      width: 100%;
      margin-left: -10%;
      box-shadow:  6px 6px 12px 0 rgb(10 10 10 / 40%);
    }



    &_outline-container {
      //border: 1px solid colors.$black;
      border-top: none;
      padding-bottom: 5px;
    }
    &_title {
      @include type.preview_title-type;
      display: block;
      color: var(--blog-preview-title-clr);
      margin: 25px 10px 15px 15px;
      text-transform: capitalize;

    }

    &_author {
      @include type.preview_author-type;
      margin-left: 15px;
      color: var(--blog-preview-author-clr);

    }
  }
}



#post_archive-button {
  margin-top: 25px;
  width: 100%;
  input {
    display: block;
    margin: auto;

  }

}

