<script>

var button = document.getElementsByClassName("taglist_collapsible")[0];
var content = button.nextElementSibling;


var contentHeight = content.scrollHeight;
{{if hasPrefix .RelPermalink "/tags/" }}
button.innerHTML = "Filter By tag [CLICK TO CLOSE]"
content.style.height = contentHeight + "px";
content.style.paddingBottom =  "20px";
content.style.overflow = "visible"
{{else}}
button.innerHTML = "Filter By tag [CLICK TO OPEN]"
content.style.paddingBottom =  "0px";
content.style.height = "0px";
content.style.overflow = "hidden";
{{end}}
const open = (b, c) => {
    b.innerHTML = "Filter By tag [CLICK TO CLOSE]"
    c.style.height = contentHeight + "px";
    c.style.paddingBottom =  "20px";
    c.style.overflow = "visible";
}
const close = (b, c) => {
    b.innerHTML = "Filter By tag [CLICK TO OPEN]"
    c.style.paddingBottom =  "0px";
    c.style.height = "0px";
    c.style.overflow = "hidden";
}
button.addEventListener("click", function Collapse() {
        content.style.height = contentHeight;

    if (content.style.height == "0px" || content.style.height == null ) {
        open(button, content);
    } else {
        close(button, content);
    }


}
)
</script>