<header>

    <nav>
        <span id="logo">
            <a href="/">DV.WTF</a>
        </span>

        <ul>
            {{$currenturl := .RelPermalink}}
            {{range .Site.Params.menu.nav }}
                {{if eq .URL $currenturl}}
                    <li class = "active">
                        <a href=" {{.URL}}">{{.name}}</a>
                    </li>
                    {{else}}
                    <li>
                        <a href=" {{.URL}}">{{.name}}</a>
                    </li>
                {{end}}


            {{end}}

        </ul>
        <span id="themeSwitch">
            <img src="/img/darktheme.svg" alt="Change theme">
        </span>
    </nav>


</header>