$white: #ffffff;
$black: #000000;


$bg-clr: #ffffff;
$txt-main: #000000;


$error: red;


$bg-secondary: rgba(125, 125, 125, 0.1);



$light-black:#1a202c;
$offwhite: rgb(247 239 228 / 78%);

$offwhite-secondary: rgb(255 253 250 / 78%);;