@use 'colors';
@use 'type';

.author {
  @include type.author-type;
}


.blogpost-container {

  h1#title {
    font-size: 35px;
    padding: 50px 0 50px 0;
    //background-color: colors.$bg-secondary;
    //color: colors.$black;
    margin-bottom: 25px;
    border-radius: 0;

  }
  .coverimg {
    margin-left: 25px;
    margin-right: 15px;
    padding-bottom: 30px;
    max-width: 450px;

    float: right;
    img {
      width: 100%;
    }

  }
  .author {
    @include type.author-type;
    margin: 20px 0px 20px 15px;
  }
  .postdate {
    @include type.date-type;
    margin-left: 15px;
    margin-bottom: 25px;
  }

  p {
    margin-bottom: 25px;
    color: colors.$light-black;

    em {
      @include type.italic_emphasis-type;
    }

  }
  .tags {
      display: flex;
      margin: 55px 0 20px 15px;
      gap: 20px;
      flex-wrap: wrap;

      @include type.tags-type;
    .tag {

    }
  }
  margin-bottom: 50px;
}


